
/**
*
* GLOBAL STYLES
*
**/

h1,
h2,
h3,
h5,
h6 {
  color: #61d4b3 !important;
}

h4 {
  font-weight: 700 !important;
  color: #658089 !important;
}

p {
  font-weight: 600;
}

.content-header {
  background-color: #fafafa !important;
}

.jumbotron {
  margin-bottom: 0 !important;
}

#filter-button,
#more-button {
  color: #b8b8b8;
  border-color: #b8b8b8;
}

#more-button {
  display: none;
}

.articles {
  box-shadow: 0px 0px 10px #c3c3c3;
  border-radius: 5px;
  text-align: center;
  min-height: 370px;
  position: relative;
}

.articles:hover > .article-img-container .article-img {
  opacity: 0.5;
  transition: all ease-in-out 300ms;
}

.article-img-container {
  background: #61d4b3;
}

.article-img {
  transition: all ease-in-out 300ms;
}

/* .articles:hover > .article-body .article-icon {
  background: #ffffff;
  transition: all ease-in-out 300ms;
} */


.article-icon {
  width: 50px;
  height: 50px;
  background: #61d4b3;
  position: absolute;
  left: 50%;
  margin-left: -25px;
  top: -25px;
  border-radius: 25px;
  border: 2px solid #fff;
  transition: all ease-in-out 300ms;
}

/* .articles:hover > .article-body .article-icon i {
  color: #61d4b3;
  transition: all ease-in-out 300ms;
} */

.article-icon i {
  font-size: 20px;
  color: #fff;
  padding-top: 10px;
  transition: all ease-in-out 300ms;
}

.article-img-container,
.article-img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.articles:hover > .article-body .article-title a {
  color: #61d4b3;
  text-emphasis: none;
  transition: all ease-in-out 300ms;
}

.article-title a {
  color: #68878a;
  transition: all ease-in-out 300ms;
}

.article-title a:hover {
  text-decoration: none;
  transition: all ease-in-out 300ms;
  
}

.article-body {
  position: relative;
}

.article-category {
  color: #61d4b3;
  text-decoration: underline;
}

.article-date {
  color: #5b5b5b;
  font-weight: 300;
}

.article-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}

/**
*
* STYLES SPECIFIC TO ARTICLE ITEMS
*
**/

.header-title-container,
.header-summary-container {
  padding-right: 50px;
}

.summary {
  color: #61d4b3;
}

.header-media-container iframe {
  width: 100%;
  height: 100%;
}

.content-article,
.content-related-articles {
  padding-top: 50px;
  padding-bottom: 100px; 
}

.content-article h5 {
  margin-bottom: 20px;
  margin-top: 30px;
}

#header-summary-container {
  display: block;
}

#content-summary-container {
  display: none;
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  .articles {
    min-height: 400px;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .jumbotron {
    text-align: center;
  }

  #filter-button {
    margin: 0 auto;
    display: block;
  }

  #more-button {
    margin: 0 auto;
    display: block;
  }

  .articles {
    min-height: 400px;
    margin-bottom: 50px;
  }

  /**
  *
  * STYLES SPECIFIC TO ARTICLE ITEMS
  *
  **/

  .header-title-container, 
  .header-summary-container {
    padding-right: 0;
  }

  .header-media-container iframe {
    min-height: 350px;
  }

  .header-summary-container {
    position: absolute;
    bottom: -100%;
    text-align: left;
  }

  #header-summary-container {
    display: none;
  }
  
  #content-summary-container {
    display: block;
  }

  #related-news-more-button {
    margin: 0 auto;
    display: block;
  }


}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  
}

/* For Nieuws Item Page, header (title, media and summary */
@media screen and (min-width: 991.98px) {
  .d-lg-grid {
    display: grid;
    grid-template-columns: 60% 1fr;
  }
  .header-media-container {
    grid-column: 2;
    grid-row: 1/3;
  }
}

@media (max-width: 575.98px) {
  .articles {
    min-height: 500px;
    margin-bottom: 50px;
  }

  /**
  *
  * STYLES SPECIFIC TO ARTICLE ITEMS
  *
  **/
  .header-media-container {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

@media (max-width: 375.98px) {
  .articles {
    min-height: 430px;
    margin-bottom: 50px;
  }
}